<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @extension.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @extension.description %>
</p>

<%= link_to 'Edit', edit_extension_path(@extension) %> |
<%= link_to 'Back', extensions_path %>
