<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @backup.origin %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @backup.destiny %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @backup.extension.name %>
</p>

<%= link_to 'Edit', edit_backup_path(@backup) %> |
<%= link_to 'Back', backups_path %>
