<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @log.origin %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @log.destiny %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @log.destiny %>
</p>

<p>
  <strong>Name:</strong>
  <%= @log.name %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @log.destiny %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @log.hash %>
</p>

<p>
  <strong>Folderdestiny:</strong>
  <%= @log.folderDestiny %>
</p>

<p>
  <strong>Datetimecopyfolderdestiny:</strong>
  <%= @log.dateTimeCopyFolderDestiny %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
